.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin-right: 20px;
}

.item:last-child {
  margin-right: 0px;
}

.errorText {
  margin-top: 6px;
  color: #e4001b;
  font-size: 14px;
  line-height: 100%;
}
